<!DOCTYPE html>
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div id="app" class="container">
        <h3 class="d-flex justify-content-center">
            Siloam .Net Test
        </h3>
        
        <nav class="navbar navbar-expand-sm bg-light navbar-dark">
            <ul class="navbar nav">
                <li class="nav-item m-1">
                    <router-link class="btn btn-light btn-outline-primary" 
                    to="/home">Home</router-link>
                </li>
                <li class="nav-item m-1" v-if="this.$gIsAuth==false">
                    <router-link class="btn btn-light btn-outline-primary" 
                    to="/login">Login</router-link>
                </li>
                <li class="nav-item m-1" v-if="this.$gIsAuth==true">
                    <router-link class="btn btn-light btn-outline-primary" 
                    to="/vendor">Vendor</router-link>
                </li>
                <li class="nav-item m-1" v-if="this.$gIsAuth==true">
                    <router-link class="btn btn-light btn-outline-primary" 
                    to="/logout">Logout</router-link>
                </li>
            </ul>
        </nav>
        <router-view></router-view>
    </div>
    <script src="variable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="home.js"></script>
    <script src="login.js"></script>
    <script src="vendor.js"></script>
    <script src="logout.js"></script>
    <script src="app.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>